name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    container:
      image: koalaman/shellcheck-alpine:stable
    steps:
      - uses: actions/checkout@v4
      - name: Show version
        run: shellcheck --version
      - name: Run shellcheck
        run: |
          find scripts/ -type f -name '*.sh' -print0 | \
          xargs -0 shellcheck -x

  black:
    name: Black
    runs-on: ubuntu-latest
    container:
      image: python:3.10
    steps:
      - uses: actions/checkout@v4
      - run: pip install -U pip
      - run: pip install black==25.12.0
      - run: black --check .

  prospector:
    name: Prospector
    runs-on: ubuntu-latest
    container:
      image: python:3.10
    steps:
      - uses: actions/checkout@v4
      - run: pip install prospector==1.14.0
      - run: prospector

  secret_detection:
    name: Gitleaks
    runs-on: ubuntu-latest
    container:
      image: zricethezav/gitleaks:v8.18.2
      options: --entrypoint ""
    steps:
      - uses: actions/checkout@v4
      - run: gitleaks detect -v --source .

  cmake_build_docker:
    name: Cmake Build in quay.io/ascend/cann
    runs-on: ubuntu-latest
    container:
      image: quay.io/ascend/cann:8.5.0-910b-ubuntu22.04-py3.11
    steps:
      - name: Show OS
        run: cat /etc/os-release

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run bash commands
        shell: bash   # <-- explicitly use Bash
        run: |
          source /usr/local/Ascend/ascend-toolkit/set_env.sh
          source /usr/local/Ascend/nnal/atb/set_env.sh
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/Ascend/ascend-toolkit/latest/`uname -i`-linux/devlib
          pip3 install pyyaml setuptools pytest packaging
          pip3 install -r requirements.txt
          pip3 install torch-npu==2.8.0.post2 --extra-index-url https://download.pytorch.org/whl/cpu # https://github.com/sgl-project/sgl-kernel-npu/pull/326
          make clean build_cmake

cmake_build_docker:
    name: Build wheel in quay.io/ascend/cann
    runs-on: ubuntu-latest
    container:
      image: quay.io/ascend/cann:8.5.0-910b-ubuntu22.04-py3.11
    steps:
      - name: Show OS
        run: cat /etc/os-release

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python dev headers
        run: |
          sudo apt-get update
          sudo apt-get install -yq python3-dev cmake build-essential

      - name: Run bash commands
        shell: bash
        run: |
          source /usr/local/Ascend/ascend-toolkit/set_env.sh
          source /usr/local/Ascend/nnal/atb/set_env.sh
          export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/Ascend/ascend-toolkit/latest/`uname -i`-linux/devlib
          pip3 install pyyaml setuptools pytest packaging
          pip3 install -r requirements.txt
          pip3 install torch-npu==2.8.0.post2 --extra-index-url https://download.pytorch.org/whl/cpu # https://github.com/sgl-project/sgl-kernel-npu/pull/326
          make clean build_wheel
