name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  shellcheck:
    name: ShellCheck
    runs-on: ubuntu-latest
    container:
      image: koalaman/shellcheck-alpine:stable
    steps:
      - uses: actions/checkout@v4
      - name: Show version
        run: shellcheck --version
      - name: Run shellcheck
        run: |
          find scripts/ -type f -name '*.sh' -print0 | \
          xargs -0 shellcheck -x

  black:
    name: Black
    runs-on: ubuntu-latest
    container:
      image: python:3.10
    steps:
      - uses: actions/checkout@v4
      - run: pip install -U pip
      - run: pip install black==25.12.0
      - run: black --check .

  prospector:
    name: Prospector
    runs-on: ubuntu-latest
    container:
      image: python:3.10
    steps:
      - uses: actions/checkout@v4
      - run: pip install prospector==1.14.0
      - run: prospector

  secret_detection:
    name: Gitleaks
    runs-on: ubuntu-latest
    container:
      image: zricethezav/gitleaks:v8.18.2
      options: --entrypoint ""
    steps:
      - uses: actions/checkout@v4
      - run: gitleaks detect -v --source .
